body {
    background-color: #f8f8f8;
    font-family: system-ui;
    font-size: 18px;
    color: #000000;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

.bio-section .social-icon {
    margin: 10px;
}

.profile-section .profile-img img {
    box-shadow: 0 10px 45px -9px rgba(0, 0, 0, .2);
}

.profile-section .about-section h3 {
    border-bottom: 2px solid black;
    padding: 10px 0px;
}